<div>
  <span class="head">Customers</span>
  <button class="add-button" mat-raised-button (click)="openDialog()"><span>+</span> Create customer</button>
</div>
<table cellspacing="0" cellpadding="0">
    <tr class="table-head-row">
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Phone</th>
      <th>Company</th>
    </tr>
    <tr class="row" *ngFor = 'let customer of customers'>
      <td>{{customer.name}}</td>
      <td>{{customer.lastName}}</td> 
      <td>{{customer.phone}}</td>
      <td *ngIf="customer.country"> {{customer.company}}, {{customer.country}}</td>
      <td *ngIf="!customer.country"> {{customer.company}}</td>
    </tr>
  </table>
