<div>
  <span class="head">Customers</span>
  <button class="add-button" (click)="openDialog()"><span>+</span> Create customer</button>
</div>
<table cellspacing="0" cellpadding="0">
    <tr class="table-head-row">
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Phone</th>
      <th>Company</th>
    </tr>
    <tr class="row" *ngFor = 'let customer of customers'>
      <td>{{customer.FirstName}}</td>
      <td>{{customer.LastName}}</td> 
      <td>{{customer.Phone}}</td>
      <td>{{customer.Name}}, {{customer.Country}}</td>
    </tr>
  </table>
